* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightgrey;
    font-family: 'roboto';
}
header {
    padding: 30px;
    background-color: #ffffff;
}
.logo {
    vertical-align: middle;
}
h1 {
    vertical-align: middle;
    display: inline;
}