* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(126, 124, 124);
    font-family: 'roboto';
}
header {
    padding: 30px;
    background-color: #ffffff;
}
.logo {
    vertical-align: middle;
}
h1 {
    vertical-align: middle;
    display: inline;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 50px;
}


.button1 {
    background-color: dodgerblue;
} 

.task {
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}

.taskblue{
    background-color: blue;
}
